html, body
{
	height: 100%;
}

body
{
	background-color: #f6f8fa;
	margin: 0;
	display: flex;
	flex-flow: row wrap;
}

body > * 
{
	flex: 1 100%;
}

.up-bar
{
	height: 60px;
	background-color: #24292f;
}

.up-bar #giticon
{
	height: 32px;
	width: 32px;
	border-radius: 100%;
	padding: 16px 32px;
	display: flex;

}

.up-bar input
{
	height: 23px;
	width: 200px;
	margin-left: 100px;
	margin-top: -46px;
	display: flex;
	background-color: #24292f;
	border-radius: 5px 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #57606a;
}

.up-bar .main-nav
{
	margin-left: 330px;
	margin-top: -23px;
}

.up-bar .main-nav a 
{
	text-decoration: none;
	color: #ffffff;
	margin-right: 20px;
	font-size: 14px;
}


.article-list
{
	margin-top: 50px;
	background-color: #f6f8fa;
}

.article-list .article 
{
	border-style: solid;
	border-width: 1px;
	border-color: #d8dee4;
	border-radius: 4px 4px;
	width: 90%;
	min-height: 100px;
	margin-left: 5%;
	margin-bottom: 20px;
	padding-top: 20px;
	background-color: #ffffff;
	text-align: left;
	line-height: 1.5;
}

.article-list .article .title
{
	text-decoration: none;
	font-size: 21px;
	color: #19537d;
	letter-spacing: 1px;
}

.article-list .article .content
{
	color: #24292f;
	font-size: 14px;
	font-family: fantasy;
	letter-spacing: 1px;
}

.article-list .article > *
{
	margin: 20px 30px;
}

.aside
{
	background-color: white;
	min-width: 20px;
}
.copyright
{
	text-align: center;
	color: #57606a;
	margin-top: 50px;
	padding-bottom: 20px;
	width: 100%;
}

@media all and (max-width: 600px)
{
	.up-bar input {width: 25%;}
	.up-bar .main-nav {margin-left: 53%;}
}

@media all and (min-width: 600px) 
{
    .aside {flex: 1 auto;}
}

@media all and (min-width: 800px) 
{
    .article-list {flex: 3 0px;}
    .left-bar {order: 1;}
    .article-list {order: 2;}
    .right-bar {order: 3;}
    .copyright {order: 4;}
}
